<h1>Painel De Controle</h1>
<p>Olá Administrador, o que deseja fazer?</p>
<div class = "well">
    <div class = "itens">
    <div class = "row">
        <div class = "col-sm-5" id="links">
            <div class = "col-sm-2">
                <a href="/books">Acessar Acervo Livros</a>
            </div>
            <div class = "col-sm-2">
                <a href="/carts">Acessar Carrinho</a>
            </div>
            <div class = "col-sm-2">
                <a href="/authors">Acessar Autores</a>
            </div>
            <div class = "col-sm-2">
                <a href="/categories">Acessar Categorias</a>
            </div>
            <div class = "col-sm-2">
                <a href="/publishers">Acessar Editoras</a>
            </div>
            <div class = "col-sm-2">
                <a href="/users">Acessar Lista de Usuários</a>
            </div>
        </div>
        </div>
    </div>
</div>
