<footer class="footer">
<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <h3>Loja</h3>
            <p>Rua Passos da Patria</p>
            <p>Número 13</p>
        </div>
        <div class="col-sm-5">
            <h3>Televendas</h3>
            <p>SAC:3737-3737</p>
        </div>
    </div>
    </div>
<div class="container4" align="center">
    <div class="row">
    <div class="col-sm-8" id="footerlogo">
        <div class="col-sm-3">
            <%= image_tag 'unnamed.png' %>
        </div>
    <div class="col-sm-2">
        <center><p>Desenvolvido para</p></center>
    </div>
    <div class="col-sm-2" id="inlogo">
            <%= image_tag 'INLogo.png' %>
    </div>
    </div>
    </center></div>
    </div>
</footer> 